doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=Libre+Franklin:wght@100;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.css" />
        <link rel="stylesheet" href="css/style.css" />
        title Spoon
    body
        header.header
            .container
                .header__top
                    img(class="logo" src="img/logo.svg" alt="logo")
                    img(class="header__humburger" src="img/humbruger.svg" alt="humburger")
                    nav(class="header__menu")
                        img(class="header__menu-close" src="img/path.svg" alt="path")
                        ul.header__list
                            li.header__item
                                a(class="header__item-link" href="#") Features
                            li.header__item
                                a(class="header__item-link" href="#") Premium
                            li.header__item
                                a(class="header__item-link" href="#") Pricing
                            li.header__item
                                a(class="header__item-link" href="#") About
                        .header__square
                        button.header__button-sign Sign in
                        button.header__button-started Get Started
                .header__content
                    h1.header__title Propel your business.
                    p.header__description Propel comes with everything you need to get your business rolling.
                    button(class="button-green") Get Started
        section.promoting
            .container
                .promoting__inner
                    h2.article-title Promoting your business and services with Propel: 
                        span.article-description A responsive, multi-page business template with everything you need propel your business.
        section.about
            .container
                .about__inner
                    .about__item
                        img(class="about__item-img" src="img/coffee.svg" alt="coffee")
                        h3.about__item-title Pro ad constituto
                        p.about__item-description Ne usu illud albucius abhor reant, partiendo scriptorem mel ne.
                    .about__item
                        img(class="about__item-img" src="img/sausage.svg" alt="sausage")
                        h3.about__item-title Eam commodo
                        p.about__item-description Fuisset intellegat delicatissimi ex mea. Cu probo integre nec.
                    .about__item
                        img(class="about__item-img" src="img/calendar.svg" alt="calendar")
                        h3.about__item-title Reformidans eis
                        p.about__item-description Facer nostro causae ei sed. Vix ex quidam detraxit, vis ad nostro laoreet.
        img(class="humburger" src="img/humburger.png" alt="humburger")
        section.more
            .container
                .more__inner
                    h3(class="article-title") Illud decore voluptaria has at.
                        span.article-description Hinc invenire atomorum no vel. Ut vis nullam blandit neglegentur, omittam perpetua voluptatum qui eu. Iusto laoreet suscipit vis ad, ad ferri tempor duo.
                    h4.article-bottom More About Us
        section.product
            .container
                .product__inner
                    .product__item
                        img(class="product__item-img" src="img/peach.png" alt="peach")
                        .product__item-content
                            h3(class="product__item-title article-title") Ex tempor euismod sapientem ouis lexor pro.
                                span.article-description Ad vix dicta iudico singulis, ius ex mollis veritus.
                            p.product__item-description Possit tritani consectetuer eu his, nusquam minimum ut per, eu eos ocurreret splendide hendrerit. Dicant placerat democritum eos id, sit mollis invidunt mediocritatem ei, ne fuisset dolores periculis sed.
                    div(class="product__item product__item--reverse")
                        img(class="product__item-img" src="img/mango.png" alt="mango")
                        .product__item-content
                            h3(class="product__item-title article-title") Te elit antiopam vix zril recusabo ut pri.
                                span.article-description Quas suscipit ad mea verear vivendo tincidunt.
                            p.product__item-description Pri cu dico labores officiis, odio principes complectitur ad sea. Sea id doctus forensibus, nec lorem vocent aliquam eu. Aliquid definitiones id cum, ad meliore perpetua referrentur sed. Quas suscipit ad mea verear vivendo tincidunt.
                    h2.product__title Wanna know more about the Premium deal?
                    h4.article-bottom See the full range of Premium
        section.party
            .container
                .party__inner
                    .party__content
                        h4.party__title-top Party On
                        h2.article-title Quas suscipit ad mea.
                            span.article-description Pri cu dico labores officiis odio principes complectitur ad sea.
                    button(class="button-green party__button") Get Started
        footer.footer
            .container
                .footer__inner
                    .footer__owner-info
                        img(class="logo" src="img/logo.svg" alt="spoon")
                        p.footer__owner © 2018 Spoon Inc, All rights reserved.
                    nav.footer__menu
                        ul.footer__list
                            li.footer__item
                                a(class="footer__item-link" href="#") Features
                            li.footer__item
                                a(class="footer__item-link" href="#") About
                            li.footer__item
                                a(class="footer__item-link" href="#") Image License Info
                            li.footer__item
                                a(class="footer__item-link" href="#") Premium
                            li.footer__item
                                a(class="footer__item-link" href="#") Blog
                            li.footer__item
                                a(class="footer__item-link" href="#") Powered by Webflow
                            li.footer__item
                                a(class="footer__item-link" href="#") Pricing
                            li.footer__item
                                a(class="footer__item-link" href="#") Contact
                        .footer__social
                            a(class="footer__social-link" href="#")
                                img(class="footer__social-img" src="img/facebook.svg" alt="facebook")
                            a(class="footer__social-link" href="#")
                                img(class="footer__social-img" src="img/twitter.svg" alt="twitter")
                            a(class="footer__social-link" href="#")
                                img(class="footer__social-img" src="img/instagram.svg" alt="instagram")
        script(src="js/humburger.js") 